.post-card {
    min-height: 375px;
    margin: 20px;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f5e9d2;
    box-shadow: 0px 0px 3px 0px #798973;
    align-items: center;

    button {
        max-width: 90%;
    }

    @media (max-width: 450px) {
        align-items: center;
        button {
            max-width: 90%;
        }
    }
}

.card-img {
    max-width: 200px;
}