<div class="form-container screen-width">
  <form class="login-form form" [formGroup]='updatePostForm' (ngSubmit)="onSubmit()">
    <label for="title">Title:</label>
    <input type="text" formControlName="title">
    <label for="author">Author:</label>
    <input type="text" formControlName="author">
    <label for="photoUrl">PictureUrl:</label>
    <input type="text" formControlName="photoUrl">
    <label for="content">Content:</label>
    <textarea class="content-input" type="text" formControlName="content" ></textarea>
    <label for="tags">Tags:</label>
    <input type="text" formControlName="tags" >
    <button type="submit">Submit</button>
  </form>
</div>