.nav-bar {
    background: rgb(250, 243, 230);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 20px;
    height: 90px;
}

.navbar-item-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.nav-btn {
    height: 40px;
    margin-right: 7px;
    display: flex;
    align-items: center;

}