.nav-bar {
    background: blue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 20px;
    height: 90px;
}

.navbar-item-container {
    display: flex;
    justify-content: space-between;
}